Package: com.catppuccin.ios
Name: Catppuccin
Version: 0.0.2
Architecture: iphoneos-arm
Description: Soothing pastel theme for iOS
Maintainer: Rooot & CallMeEchoCodes
Author: Rooot & CallMeEchoCodes
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
